{% for group in ldap_groups %}
dn: cn={{ group.name }},ou=Groups,{{ ldap_base_dn }}
objectClass: posixGroup
cn: {{ group.name }}
gidNumber: {{ group.gid }}

{% for member in group.members %}
memberUid: {{ member }}
{% endfor %}

{% endfor %}
