dn: ou=People,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: People

dn: ou=Groups,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: Groups

dn: ou=ServiceAccounts,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: ServiceAccounts

dn: ou=Devices,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: Devices
